## Directories for hub-test
.vscode/
.idea/

## Actual tests
.tests/*/results/*
.tests/*/bucket-dump.yaml
.tests/*/parser-dump.yaml
.tests/*/runtime/*

.appsec-tests/*/results/*
.appsec-tests/*/runtime/*

## tmp files
taxonomy/scenario_taxonomy_errors.md

workspace.code-workspace

waf-check/dataset/*
waf-check/output/*
waf-check/waf-check