name: test-configurations
on:
  - push
  - repository_dispatch
jobs:
  build-hub-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: clone hub-tests
      uses: actions/checkout@v2
      with:
        repository: crowdsecurity/hub-tests
        ref: wip
        path: hub-tests
    - name: build
      run: cd hub-tests && go build && cd .. && find .
    - name: run tests
      run: |
        cp hub-tests/dev.yaml .
        for i in $(find . -name config.yaml -print|tr '\n' ' ') ;
        do
         ./hub-tests/hub-tests -target $(basename $i) ;
        done
      id: tests
      
