name: HubTest
on:
  pull_request:
    branches: [ master ]
    paths:
      - 'scenarios/**.yaml'
      - 'parsers/**.yaml'
      - 'postoverflows/**.yaml'
      - 'collections/**.yaml'
      - './github/workflows/**.yaml'
      - './github/workflows/**.yml'
  push:
    branches: [ master ]
    paths:
      - 'scenarios/**.yaml'
      - 'parsers/**.yaml'
      - 'postoverflows/**.yaml'
      - 'collections/**.yaml'
      - './github/workflows/**.yaml'
      - './github/workflows/**.yml'

jobs:
  run-hub-tests:
    runs-on: ubuntu-latest
    env:
      RESULTS_PATH: .
    steps:
    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: "Force machineid"
      run: |
          sudo chmod +w /etc/machine-id
          echo githubciXXXXXXXXXXXXXXXXXXXXXXXX | sudo tee /etc/machine-id
    - id: keydb
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        owner: crowdsecurity
        repo: crowdsec
        excludes: draft
    - name: Install CrowdSec
      run: |
        git clone https://github.com/crowdsecurity/crowdsec.git
        cd crowdsec/
        git checkout hub_tests
        BUILD_VERSION=${{ steps.keydb.outputs.release }} make release
        cd crowdsec-${{ steps.keydb.outputs.release }}
        sudo ./wizard.sh --unattended
    - name: run tests on last crowdsec tag
      run: |
        cscli hubtest run --all --clean

