name: Update index

on:
  push:
    branches:
      - master
      - v[0-9]+.[0-9]+.[0-9]+*
      - test*
    paths:
      - 'appsec-configs/**.md'
      - 'appsec-configs/**.yaml'
      - 'appsec-configs/**.yml'
      - 'appsec-rules/**.md'
      - 'appsec-rules/**.yaml'
      - 'appsec-rules/**.yml'
      - 'collections/**.md'
      - 'collections/**.yaml'
      - 'collections/**.yml'
      - 'contexts/**.md'
      - 'contexts/**.yaml'
      - 'contexts/**.yml'
      - 'parsers/**.md'
      - 'parsers/**.yaml'
      - 'parsers/**.yml'
      - 'postoverflows/**.md'
      - 'postoverflows/**.yaml'
      - 'postoverflows/**.yml'
      - 'scenarios/**.md'
      - 'scenarios/**.yaml'
      - 'scenarios/**.yml'
      - '.github/workflows/update-index.yml'
      - '.github/workflows/update-blockers.yml'
      - "src/**"
      - "pyproject.toml"
      - "uv.lock"
      - 'blockers/list.json'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: 0.5.24
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: update .index.json
        run: |
          uv sync --all-extras --dev --locked
          uv run mkindex

      - uses: nelonoel/branch-name@v1.0.1

      - name: Commit files
        if: ${{ github.event_name == 'push'}}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Update index" .index.json || exit 0
          git pull --rebase origin ${BRANCH_NAME}

      - name: Push changes
        if: ${{ github.event_name == 'push'}}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  run-linter:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: 0.5.24
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: run hublint
        run: |
          uv sync --all-extras --dev --locked
          uv run hublint defaults > .hublint.toml
          uv run hublint check --color always --no-warning-details
